#Importando a biblioteca do pandas

In [8]:
import pandas as pd

#Importando o arquivo excel/Dataset

In [16]:
pip install openpyx

Note: you may need to restart the kernel to use updated packages.Collecting openpyxl
  Downloading openpyxl-3.1.2-py2.py3-none-any.whl (249 kB)
     -------------------------------------- 250.0/250.0 kB 5.1 MB/s eta 0:00:00
Collecting et-xmlfile
  Downloading et_xmlfile-1.1.0-py3-none-any.whl (4.7 kB)
Installing collected packages: et-xmlfile, openpyxl
Successfully installed et-xmlfile-1.1.0 openpyxl-3.1.2

[notice] A new release of pip available: 22.3.1 -> 23.3
[notice] To update, run: python.exe -m pip install --upgrade pip

In [36]:
Df = pd.read_excel('Planilha_Operacoes_Vitoria.xlsx')

#Para executar o dataset

In [24]:
nomeDataframe

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,Origem,Destino,Peso,Valor Frete,Transit Time / hrs
4,2022-01-06 00:00:00,VITÓRIA,CARIACICA,97.27,820,0.4
...,...,...,...,...,...,...
64,2022-10-26 00:00:00,VITÓRIA,CARIACICA,414.43,1040,0.8
65,2022-10-26 00:00:00,VITÓRIA,CARIACICA,1536.63,1040,0.8
66,2022-11-01 00:00:00,VITÓRIA,CARIACICA,434.09,1040,0.55
67,2022-11-08 00:00:00,VITÓRIA,CARIACICA,1641,1040,0.6
68,Total,NaN,NaN,51324.332,65240,42.32

#Exibir primeiras linhas do dataset

In [44]:
Df.head(60)

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN
3,Data,Origem,Destino,Peso,Valor Frete,Transit Time / hrs
4,2022-01-06 00:00:00,VITÓRIA,CARIACICA,97.27,820,0.4
5,2022-01-11 00:00:00,VITÓRIA,CARIACICA,116,820,1
6,2022-01-12 00:00:00,VITÓRIA,CARIACICA,5,820,0.5
7,2022-01-14 00:00:00,VITÓRIA,CARIACICA,230.24,820,1
8,2022-01-21 00:00:00,VITÓRIA,CARIACICA,3.74,820,0.8
9,2022-01-25 00:00:00,VITÓRIA,CARIACICA,846.32,820,0.9
10,2022-02-01 00:00:00,VITÓRIA,CARIACICA,412.82,1040,1
11,2022-02-01 00:00:00,VITÓRIA,CARIACICA,1455.79,1040,1
12,2022-02-08 00:00:00,VITÓRIA,CARIACICA,942.83,1040,0.5
13,2022-02-15 00:00:00,CARIACICA,CARIACICA,968.81,1040,0.4
14,2022-02-15 00:00:00,VITÓRIA,CARIACICA,1363.582,1040,0.6
15,2022-02-22 00:00:00,VITÓRIA,CARIACICA,364.08,1040,0.4
16,2022-03-03 00:00:00,VITÓRIA,CARIACICA,1590.37,1040,0.35
17,2022-03-08 00:00:00,VITÓRIA,CARIACICA,1135.9,1040,0.6
18,2022-03-16 00:00:00,VITÓRIA,CARIACICA,1103.35,1040,0.5
19,2022-03-16 00:00:00,VITÓRIA,CARIACICA,758.04,1040,0.4
20,2022-03-22 00:00:00,VITÓRIA,CARIACICA,248.29,1040,0.42
21,2022-03-30 00:00:00,VITÓRIA,CARIACICA,1606,1040,0.6
22,2022-03-30 00:00:00,VITÓRIA,CARIACICA,188,1040,0.5
23,2022-04-06 00:00:00,VITÓRIA,CARIACICA,625.08,1040,0.4
24,2022-04-13 00:00:00,VITÓRIA,CARIACICA,2213.11,1040,1
25,2022-04-22 00:00:00,VITÓRIA,CARIACICA,894,1040,0.8
26,2022-04-22 00:00:00,VITÓRIA,CARIACICA,982.77,1040,0.5
27,2022-04-27 00:00:00,VITÓRIA,CARIACICA,2391,1040,0.5
28,2022-04-27 00:00:00,VITÓRIA,CARIACICA,1577.06,1040,0.7
29,2022-05-04 00:00:00,VITÓRIA,CARIACICA,912.71,1040,1
30,2022-05-12 00:00:00,VITÓRIA,CARIACICA,19,1040,0.5
31,2022-05-12 00:00:00,VITÓRIA,CARIACICA,1188.6,1040,0.6
32,2022-05-17 00:00:00,VITÓRIA,CARIACICA,50,1040,0.6
33,2022-05-17 00:00:00,VITÓRIA,CARIACICA,1267.94,1040,0.6
34,2022-05-24 00:00:00,VITÓRIA,CARIACICA,19,1040,0.5
35,2022-05-24 00:00:00,VITÓRIA,CARIACICA,1513.24,1040,0.7
36,2022-05-31 00:00:00,VITÓRIA,CARIACICA,1095.33,1040,0.8
37,2022-06-07 00:00:00,CARIACICA,CARIACICA,938,1040,2
38,2022-06-13 00:00:00,VITÓRIA,CARIACICA,549.67,1040,0.5
39,2022-06-15 00:00:00,VITÓRIA,CARIACICA,46.67,1040,0.6
40,2022-06-15 00:00:00,VITÓRIA,CARIACICA,1885.62,1040,0.5
41,2022-06-21 00:00:00,VITÓRIA,CARIACICA,1439.55,1040,0.6
42,2022-06-29 00:00:00,VITÓRIA,CARIACICA,251.07,1040,0.4
43,2022-07-05 00:00:00,VITÓRIA,CARIACICA,157.4,1040,0.5
44,2022-07-12 00:00:00,VITÓRIA,CARIACICA,297.42,1040,0.6
45,2022-07-20 00:00:00,VITÓRIA,CARIACICA,508.11,1040,1
46,2022-07-26 00:00:00,VITÓRIA,CARIACICA,36.99,1040,1.3
47,2022-08-02 00:00:00,VITÓRIA,CARIACICA,823.39,1040,0.8
48,2022-08-09 00:00:00,VITÓRIA,CARIACICA,774.88,1040,0.5
49,2022-08-17 00:00:00,VITÓRIA,CARIACICA,157.64,1040,0.6
50,2022-08-23 00:00:00,VITÓRIA,CARIACICA,2658.17,1040,0.45
51,2022-08-23 00:00:00,VITÓRIA,CARIACICA,60,1040,0.55
52,2022-08-30 00:00:00,VITÓRIA,CARIACICA,23.13,1040,0.6
53,2022-08-30 00:00:00,VITÓRIA,CARIACICA,687.83,1040,0.5
54,2022-09-06 00:00:00,VITÓRIA,CARIACICA,1358.05,1040,0.8
55,2022-09-13 00:00:00,VITÓRIA,CARIACICA,878.18,1040,1
56,2022-09-20 00:00:00,VITÓRIA,CARIACICA,976.25,1040,0.5
57,2022-09-27 00:00:00,VITÓRIA,CARIACICA,1116.91,1040,0.6
58,2022-10-04 00:00:00,VITÓRIA,CARIACICA,788.8,1040,0.8
59,2022-10-11 00:00:00,VITÓRIA,CARIACICA,384.65,1040,0.5

#Informações gerais do dataset

In [38]:
Df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 69 entries, 0 to 68
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  66 non-null     object
 1   Unnamed: 1  65 non-null     object
 2   Unnamed: 2  65 non-null     object
 3   Unnamed: 3  66 non-null     object
 4   Unnamed: 4  66 non-null     object
 5   Unnamed: 5  66 non-null     object
dtypes: object(6)
memory usage: 3.4+ KB

In [43]:
Df.shape

(69, 6)